<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Dallas Dominguez">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <div class="section">

    <h1> Welcome to Paradise </h1>

    <div class="video-container">
      <div class="color-overlay">
    <video autoplay loop muted poster="http">
      <source src="background.mp4" type="video/mp4">
    </video>
    </div>
    </div>
  </div>
  
<div class='hero'>
      <h1> The Snail Scale Project </h1>
      <p> Dallas Dominguez Concept Website </p> <br>
       
    </div>
  
  <div><h3>Snail Scale is a product for those looking for fast and accurate nutrient information about the foods they eat. People don't want the hassle of downloading a nutrient info tracking app and doing all the tedious arithmetic themselves to calculate their nutrients. We provide all of that information by simply placing simple food on our scale. </h3></div>
  
 <div><h3>In this assignment I got to play around with some potential features that could be on our site. Of the CSS I learned, the top 3 things were the power of flex, how to do hover animations, and how to achieve good padding with rem metrics. Thanks Rick for the Dojo! </h3></div>

  <div><h3>
This is just a rough design for an embedded keypad for the website where a user could enter specific bodily metrics based on questions we ask them or something of the sort.
    <h3>
  </div>

<div class="extlink"> Click on the Buttons Below to go to our Product page </div>

<div class='btn-grid'>


<div class='btn '> <a href="./product">Click Here to See the Product Page</a> </div>
<div class='btn '> <a href="./kvp">Click Here to View Our Mission Statement</a> </div>
<div class='btn '> <a href="https://youtu.be/gd66ct18WD4">Link to Our YouTube Video</a> </div>

</div>

<div class='btn-grid'>
<div class='btn '>4</div>
<div class='btn '>5</div>
<div class='btn '>6</div>
</div>
<div class='btn-grid'>
<div class='btn '>7</div>
<div class='btn '>8</div>
<div class='btn '>9</div>
</div>
  
  <div><h3>This would be an excellent place to put some sort of scrolling gallery of customer results. The buttons below could be used to scroll back and forth through the image carousel.</h3></div>
<div class='btn-grid'>
  <div class='btn '><h5>+--</h5>
  
  </div>
<div class='btn '><h5>--+</h5></div>
</html>