<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Dallas Dominguez">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile3.css">
  </head>

  <!doctype html>
<html lang="en">

    <div class='hero'>
        <h1> The Snail Scale Product Description </h1>
             
        </div>
        
    <div><h3>For people interested in health and fitness who have the need to track their calories in a fast and simple way we are introducing SnailScale. It is a scale with a camera that detects the food type on the scale, weighs it and calculates calories. It’s different from MyFitnessPal and other apps that calculate calories because the user doesn’t have to input any data in order to know the calories, and they just need to put the food on the scale. We generate revenue by hardware purchasing and app subscription.</h3></div>

    <div><h3>Empathy Map</h3></div>
    <img src="../images/empathy.jpg" alt="Deez" width="500" height="600">
        